/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
  background-image: url('background.jpg');
  
}

/* Basic styling for the header and navbar */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 0
  padding: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Styling for content sections */
.content-section {
  padding: 3rem; /* To account for the fixed
  header */
}

/* Styling for the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
